@model WebApplication1.Models.Pessoa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_2</title>
</head>
<body>
    <div>
        <h4>Pessoa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Idade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Idade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Altura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Altura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bairro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cpf)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data_nasc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data_nasc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Endereco)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Mae)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Mae)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Numero)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Numero)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pai)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pai)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Peso)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Peso)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rg)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rg)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Senha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Senha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Signo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Signo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefone_fixo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefone_fixo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tipo_sanguineo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo_sanguineo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
